#imageContainer {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color: aqua;

  }

#navbar{

height: 4rem;
display: flex;
text-align: center;
font-size: 60px;





}





  img {
     margin: 30px;
     /* max-width: 50%; */
     width: 30%;
    /* border: 2px; */
  }